@charset "UTF-8";
#banner{
	background: url("logo.png");
	background-size: cover;
	width: 1140px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
}
#THLBtn{
	margin-top: 100px;
	background-color: white;
	border: none;
	height: 30px;
	width: 186px;
}

#HomeBtn,#lifeBtn,#buddyBtn,#cityBtn,#profBtn{
	margin-top: 100px;
	background-color: transparent;
	border: none;
	height: 30px;
	width: 186px;
}