@charset "UTF-8";
#bannerDiv{
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	width: cover;
	height: 50px;
	background-color:black;
	color:white;
	
}
#logoDiv{
	 float: left;
	 height:40px;
	 width:40px;
	 background-color: transparent;
	 text-align:center;
	 margin-top:auto;
	 margin-bottom:auto;
}
#SG-news{
	margin-left:10px;
	margin-top:auto;
	margin-bottom:auto;
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	
}
#buttonsDiv{
	margin-top:auto;
	margin-bottom:auto;
	
}
#THLBtn{
	
	color: white;
	background-color: black;
	border: none;
	height: 50px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.Btns2{
	color: grey;
	background-color: transparent;
	border: none;
	height: 50px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	cursor: pointer;
}
.Btns2:hover{
	color:white;
}

#mainDiv{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

#welcome{
	
	background: url('welcome.png');
	background-size: cover;
	width: 550px;
	height: 350px;
	margin-left:auto;
	margin-right:auto;
}
#welcomeBtn{
	font-family: 'PT Serif',serif; 
	color: black; 
	font-size: 30px;
	margin-top: 230px;
	background-color: rgba(255, 255, 255, 0.6);
	text-shadow: 1px 2px white;
	height: 80px;
	width: 300px;
	border: none;
	cursor: pointer;
}
#welcomeBtn:hover{
    box-shadow: 2px 2px 2px #333;
}

#studyGuide{
	height: 350px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
#studyGuideTitle{
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3px;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: black;
	font-family: 'PT Serif',serif; 
	letter-spacing:2px;
	font-size:20px;
}

.studyGuideClass{ 
	border-style: solid;
	border-width: 0px 0px 1px 0px; 
	border-color: black; 
	margin-left: 5px;
	height:75px;
}
.studyGuideTitle{
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-left: 5px;
	margin-top:0px;
	cursor: pointer;
}
.studyGuideTitle:hover{
	text-decoration:underline;
}
.studyGuideContent{
	margin-left: 10px;
	margin-top: -15px;
	font-size: 10px;
	font-family: 'Noto Sans KR', sans-serif;
}

#act{
	font-family: 'PT Serif',serif;
	font-size: 35px;
}

.actClass{
	width: 285px; 
	height: 285px;
}

.actPic{
	width: 265px;
	height: 265px;
	margin: auto;
	margin-top: 10px;
}

.actIntr{
	width: 265px;
	height: 265px;
	margin: auto;
	margin-top: 10px;
	font-family: 'Noto Sans KR', sans-serif;
}

.readMore{
	font-size: 15px; 
	text-align: right;
	color: #444444;
	cursor: pointer;
}

.readMore:hover{
	text-decoration:underline;
}

.actBtn{
	font-family: 'PT Serif',serif; 
	color: black; 
	text-align:auto;
	font-size: 20px;
	margin-top: 220px;
	background-color: rgba(255, 255, 255, 0.6);
	height: 45px;
	width: 265px;
	border: none;
	cursor: pointer;
}
.actBtn:hover{
	text-decoration: underline;
}

footer{
	width: cover;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	
	font-size: 10px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: black;
	margin-top: 10px;
}
#QLtitle,#Ctitle,#Atitle{
	font-family: 'PT Serif',serif; 
	font-size: 20px;
	weight:bold;
	letter-spacing: 5px;
}
.qlB{
	cursor:pointer;
}
.qlB:hover{
	text-decoration: underline;
}
.fB{
	border:none;
	background-color:transparent;
	color:grey;	
	cursor:pointer;
}
.fB:hover{
	color:black;
}