@charset "UTF-8";
#bannerDiv{
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	width: cover;
	height: 50px;
	background-color:black;
	color:white;
	
}
#logoDiv{
	 float: left;
	 height:40px;
	 width:40px;
	 background-color: transparent;
	 text-align:center;
	 margin-top:auto;
	 margin-bottom:auto;
}
#SG-news{
	margin-left:10px;
	margin-top:auto;
	margin-bottom:auto;
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	
}
#buttonsDiv{
	margin-top:auto;
	margin-bottom:auto;
	
}
#HomeBtn{
	
	color: white;
	background-color: black;
	border: none;
	height: 50px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.Btns2{
	color: grey;
	background-color: transparent;
	border: none;
	height: 50px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	cursor: pointer;
}
.Btns2:hover{
	color:white;
}

#mainDiv{

	margin-top: 0px;
	width: 1140px;
	height:2000px;;
	margin-left: auto;
	margin-right: auto;
	display: flex;

}

#mainpicture{
	width:740px;
	height:400px;
	background-image:url("mainpicture.jpg");
	background-size:100% 100%;
	background-repeat:no repeat;
	margin-left:0px;
	margin-top:0px;
	position:absolute;
	background-color: rgba(255,255,255,0.1);
	background-blend-mode: lighten;
}

#happen{
	position: relative;
	margin-top:260px;
	margin-left:0px;
	font-size:40px;
	width:400px;
	height:80px;
	text-align:center;
	color:black;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: rgba(230,230,255,0.4);
	background-blend-mode: lighten;

}

h2{
	font-family: 'Fredoka One', cursive;
	color:#444444;
}

#news_title{
	position:absolute;
	margin-left:780px;
	width:360px;
	height:400px;
	
}

.news{
		border:none;
		background-color:white;
        color:#444444;
        font-size:19px;  
        transition-duration: 0.3s;
        font-family: 'Fredoka One', cursive;
        cursor:pointer;
        padding-bottom: 3px;
        
}

.news:hover{
        text-decoration:underline;     
}

#div_1{
	width:1140px;
	height:340px;
	margin-top:420px;
	margin-left:0px;
	position:absolute;
}

#title_1{
	width:150px;
	height:340px;
	margin-left:0px;
	position:absolute;
	margin-top:0px;
	
}


#picture_1{
	width:540px;
	height:340px;
	background-image:url("2019.jpg");
	background-size:100% 100%;
	background-repeat:no repeat;
	margin-left:200px;
	margin-top:0px;
	position:absolute;
}

#text_1{
	width:380px;
	height:340px;
	margin-left:780px;
	position:absolute;
	
}



#div_2{
	width:1140px;
	height:340px;
	margin-top:980px;
	margin-left:0px;
	position:absolute;
}

#title_2{
	width:150px;
	height:340px;
	margin-left:0px;
	position:absolute;
	margin-top:0px;
	
}

#picture_2{
	width:540px;
	height:340px;
	background-image:url("bergen.jpg");
	background-size:100% 100%;
	background-repeat:no repeat;
	margin-left:200px;
	margin-top:0px;
	position:absolute;
}

#text_2{
	width:380px;
	height:340px;
	margin-left:780px;
	position:absolute;
	
}

#div_3{
	width:1140px;
	height:340px;
	margin-top:1450px;
	margin-left:0px;
	position:absolute;
}

#title_3{
	width:150px;
	height:340px;
	margin-left:0px;
	position:absolute;
	margin-top:0px;
	
}

#picture_3{
	width:540px;
	height:350px;
	background-image:url("munch.jpg");
	background-size:100% 100%;
	background-repeat:no repeat;
	margin-left:200px;
	margin-top:0px;
	position:absolute;
}

#text_3{
	width:380px;
	height:340px;
	margin-left:780px;
	position:absolute;
	
}



#footer{
	
	width:1140px;
	height:20px;
	margin-left: auto;
	margin-right: auto;
}
.mainpicture{
	align:top;
	margin-top:0px;
	width:900px;
	height:550px;
	border:none;
}

#textarea{
	align:top;
	border:none;
	font-family: 'Fredoka One', cursive;
	font-size:20px;
	height:120px;
	width:720px;
	
}
footer{
	width: cover;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	
	font-size: 10px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: black;
	margin-top: 10px;
}
#QLtitle,#Ctitle,#Atitle{
	font-family: 'PT Serif',serif; 
	font-size: 20px;
	weight:bold;
	letter-spacing: 5px;
}
.qlB{
	cursor:pointer;
}
.qlB:hover{
	text-decoration: underline;
}
.fB{
	border:none;
	background-color:transparent;
	color:grey;	
	cursor:pointer;
}
.fB:hover{
	color:black;
}


