@charset "UTF-8";
#bannerDiv{
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	width: cover;
	height: 50px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: black;
}
#logoDiv{
	 float: left; 
	 margin-left:20px; 
	 margin-top:5px;
	 height:70px;
	 width:80px;
	 background-color: white;
	 text-align:center;
}

#HomeBtn{
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 5px;
	color: white;
	background-color: black;
	border: none;
	height: 30px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
}

.Btns2{
	border-right: 1px solid grey;
	margin-top: 20px;
	padding-top: 5px;
	color: grey;
	background-color: transparent;
	border: none;
	height: 30px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
}

#mainDiv{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

#section{
	background-image:url("life.jpg");
	background-size:100% 100%;
	background-repeat:no repeat;
	background-color: rgba(255,255,255,0.3);
	background-blend-mode: lighten;	
	padding:0px;
	height:300px;
	width:1140px;
	margin-left:190px;	
	margin-top:10px;
	
}
#study{
	height:300px;
	width:1085px;
	margin-left:200px;
	
}
.button{ background-color:transparent;
         border:none;
         color:#FFBB00;
         border-radius: 50px;
         font-size:70px;
         transition-duration: 0.3s;
         font-family: 'Fredoka One', cursive;
         margin-left:310px;
         margin-top:80px;
         }
.button:hover {background-color: transparent;
               color:#f44336;
               border:none;}

.title{  
		 height:40px;
		 width:200px;
	     background-color:transparent;
         border:none;
         color:grey;
         margin-top:0px;
         font-size:25px;
         text-align:left;
         letter-spacing:2px;
         transition-duration: 0.3s;
         font-family: 'Fredoka One', cursive;
         cursor:pointer;
}   
.title:hover{
	   
	    color:black;
        border:none;
        text-decoration:underline;
	
}          
               
      
h2{
	 font-family: 'Fredoka One', cursive;
	
}

#title_h2{
	color:grey;
	font-family: 'Noto Sans KR', sans-serif;
}



#title{
	width:200px;
	height:1200px;
	margin-top:0px;
	margin-left:190px;
	margin-bottom:350px;
	padding:0px;
	
}

#middle{
	margin-top:-1550px;
	margin-left:430px;
	height:1500px; 
	width:900px;
	
}

#right{
	margin-top:-1220px;
	margin-left:1130px;
	width:200px;
	height:1200px;
	
}

#footer{
	
	width:1140px;
	height:20px;
	margin-left: auto;
	margin-right: auto;
}
.mainpicture{
	align:top;
	margin-top:0px;
	width:900px;
	height:550px;
	border:none;
}

#textarea{
	align:top;
	border:none;
	font-family: 'Fredoka One', cursive;
	font-size:20px;
	height:120px;
	width:720px;
	
}
footer{
	width: cover;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	
	font-size: 10px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: black;
	margin-top: 10px;
}
#QLtitle,#Ctitle,#Atitle{
	font-family: 'PT Serif',serif; 
	font-size: 20px;
	weight:bold;
	letter-spacing: 5px;
}
.qlB{
	cursor:pointer;
}
.qlB:hover{
	text-decoration: underline;
}
.fB{
	border:none;
	background-color:transparent;
	color:grey;	
	cursor:pointer;
}
.fB:hover{
	color:black;
}


