@charset "UTF-8";
#bannerDiv{
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	width: cover;
	height: 50px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: black;
}
#logoDiv{
	 float: left; 
	 margin-left:20px; 
	 margin-top:5px;
	 height:70px;
	 width:80px;
	 background-color: white;
	 text-align:center;
}

#lifeBtn{
	margin-top: 20px;
	padding-top: 5px;
	color: white;
	background-color: black;
	border: none;
	height: 30px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
}
.Btns2{
	border-right: 1px solid grey;
	margin-top: 20px;
	padding-top: 5px;
	color: grey;
	background-color: transparent;
	border: none;
	height: 30px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
}
.Btns2:hover{
	color: black;
}
#mainDiv{
	margin-top: 10px;
	width: 1140px;
	height:1000px;;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
#div1{
	width:760px;
}
#div2{
	width:380px;
}
#snow_div{
	width:740px;
	height:450px;
	background-image:url("snow.jpg");
	background-size:100% 100%;
	background-repeat:no repeat;
}

#plan{
	margin-top:300px;
	width:500px;
	height:140px;
	background-color: rgba(255,200,225,0.3);
	background-blend-mode: lighten;
}
#search{
	width:360px;
	height:700px;
	margin-left:auto;
	margin-right:auto;
}

#input{
	width:300px;
	height:40px;
	border-radius:10px;
	border:none;
	background-color:#D3D3D3;
}

#article{
	width:740px;
	height:600px;
}


.article_title{
	     height:25px;
		 width:700px;
	     background-color:transparent;
         border:none;
         color:black;
         font-size:25px;
         text-align:left;
         letter-spacing:2px;
         transition-duration: 0.3s;
         font-family: 'Fredoka One', cursive;
         cursor:pointer;
         margin-top:10px;
         
}
.article_title:hover{
	
	    color:black;
        border:none;
        text-decoration:underline;
      
}

.new_title{
	     height:25px;
		 width:300px;
	     background-color:grey;
         border:none;
         color:white;
         font-size:17px;
         text-align:left;
         
         transition-duration: 0.3s;
         font-family: 'Fredoka One', cursive;
         cursor:pointer;
         margin-top:10px;
         
}
.new_title:hover{
	
	    color:black;
        border:none;
        text-decoration:underline;
      
}
.article_text{
	width:740px;
	height:70px;
	border:none;
	font-size:17px;
	font-family: 'Fredoka One', cursive;
}
h2{
	font-size:60px;
	font-family: 'Fredoka One', cursive;
	
}

h3{
	font-size:40px;
}

.travel{
	width:100px;
	height:60px;
	margin-top:10px;
}

footer{
	width: cover;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	
	font-size: 10px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: black;
	margin-top: 10px;
}
#QLtitle,#Ctitle,#Atitle{
	font-family: 'PT Serif',serif; 
	font-size: 20px;
	weight:bold;
	letter-spacing: 5px;
}
.qlB{
	cursor:pointer;
}
.qlB:hover{
	text-decoration: underline;
}
.fB{
	border:none;
	background-color:transparent;
	color:grey;	
	cursor:pointer;
}
.fB:hover{
	color:black;
}