@charset "UTF-8";
#banner{
	background: url("logo.png");
	background-size: cover;
	width: 1140px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
#buddyBtn{
	margin-top: 70px;
	background-color: white;
	border: none;
	height: 30px;
	width: 186px;
}

#HomeBtn,#THLBtn,#lifeBtn,#cityBtn,#profBtn{
	margin-top: 70px;
	background-color: transparent;
	border: none;
	height: 30px;
	width: 186px;
}

#introduction{
	
	background-color: rgba(117, 109, 37, 0.6);
	width: 1140px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#text{
	font-size: 18px;
	text-align: justify;
	padding: 5px;
}

#groupPhoto{
	background: url("groupPhoto.jpg");
	background-size: cover;
	width: 1140px;
	height: 600px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#activity{
	background-color: rgba(117, 109, 37, 0.6);
	width: 1140px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#subTitle{
	text-align: center;
	padding: 10px;
}

table{
	table-layout: fixed;
	text-align: justify;
	margin: auto;
	background-color: rgba(117, 109, 37, 0.6);
	width: 1140px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}
