@charset "UTF-8";
#bannerDiv{
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	width: cover;
	height: 50px;
	background-color:black;
	color:white;
	
}
#logoDiv{
	 float: left;
	 height:40px;
	 width:40px;
	 background-color: transparent;
	 text-align:center;
	 margin-top:auto;
	 margin-bottom:auto;
}
#SG-news{
	margin-left:10px;
	margin-top:auto;
	margin-bottom:auto;
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	
}
#buttonsDiv{
	margin-top:auto;
	margin-bottom:auto;
	
}
#HomeBtn{
	
	color: white;
	background-color: black;
	border: none;
	height: 50px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.Btns2{
	color: grey;
	background-color: transparent;
	border: none;
	height: 50px;
	width: 100px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	cursor: pointer;
}
.Btns2:hover{
	color:white;
}

#mainDiv{
	margin-top: 3px;
	width: 1140px;
	height: 825px;
	margin-left: auto;
	margin-right: auto;
}
#mainNews{
	margin-left: 20px;
	background: url('christmas.png');
	width: 740px;
	height: 400px;
	margin-left:auto;
	margin-right:auto;
}
#mainNewsBtn{
	font-family: 'PT Serif',serif; 
	color: black; 
	font-size: 30px;
	margin-top: 230px;
	background-color: rgba(255, 255, 255, 0.6);
	text-shadow: 1px 2px white;
	height: 80px;
	width: 300px;
	border: none;
	cursor: pointer;
}
#mainNewsBtn:hover{
    box-shadow: 2px 2px 2px #333;
}

#monthDiv{
	height: 400px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
#monthTitle{
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3px;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: black;
	font-family: 'PT Serif',serif; 
	letter-spacing:2px;
	font-size:20px;
	text-align:center;
}
.monthClass{ 
	border-style: solid;
	border-width: 0px 0px 1px 0px; 
	border-color: black; 
	margin-left: 5px;
	height:65px;
}
.month{
	font-size: 25px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-left: 5px;
	margin-top:0px;
}
.monthT{
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
	margin-top:10px;
}
.monthContent-1:hover{
	text-decoration:underline;
}
.monthContent{
	margin-left: 30px;
	margin-top: 0px;
	font-size: 10px;
	font-family: 'Noto Sans KR', sans-serif;
}
.monthContent-1{
	margin-left: 30px;
	margin-top: 0px;
	font-size: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	cursor:pointer;
}

#weeklyNews,#notices{
	height: 350px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
#weeklyNewsTitle,#noticesTitle{
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3px;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: black;
	font-family: 'PT Serif',serif; 
	letter-spacing:2px;
	font-size:20px;
}
.newsClass{ 
	border-style: solid;
	border-width: 0px 0px 1px 0px; 
	border-color: black; 
	margin-left: 5px;
	height:85px;
}
.newsTitle{
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-left: 5px;
	margin-top:0px;
	cursor: pointer;
}
.newsTitle:hover{
	text-decoration:underline;
}
.newsContent{
	margin-left: 10px;
	margin-top: -15px;
	font-size: 10px;
	font-family: 'Noto Sans KR', sans-serif;
}
footer{
	width: cover;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	
	font-size: 10px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: black;
	margin-top: 10px;
}
#QLtitle,#Ctitle,#Atitle{
	font-family: 'PT Serif',serif; 
	font-size: 20px;
	weight:bold;
	letter-spacing: 5px;
}
.qlB{
	cursor:pointer;
}
.qlB:hover{
	text-decoration: underline;
}
.fB{
	border:none;
	background-color:transparent;
	color:grey;	
	cursor:pointer;
}
.fB:hover{
	color:black;
}
